* {
    padding: 0;
    margin: 0;
}
$colorTitulo: #742112;
$fontPrincipal: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
/*PARA TODAS LAS PAGINAS*/
header {
    background-color: #000;
    top: 0;
    z-index: 100;
    .navbar-dark .navbar-nav .nav-link {
        color: aliceblue;
        font-size: 1.5rem;
        margin: 0px 15px; 
        .img-logo {
            display: flex;
            width: 100px;
            justify-self:flex-start ;
        }
        .navbar-collapse {
            flex-grow: initial;
        }
    }
}
    /*REDES SOCIALES */
    $estilos:(
    color: darkblue,
    fondo: azure,
    borde: 1rem 0 0 0,
    );
.bar-social {
    position: fixed;
    right: 0;
    top: 40%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
    .icon {
        color: map-get($estilos, color );
        display: flex;
        text-decoration: none;
        padding: .5rem;
        .icon-facebook {
            background-color: map-get($estilos, fondo );
            border-radius: map-get($estilos, borde );
        }
        .icon-instagram {
            background-color: map-get($estilos, fondo );
            
        }
        .icon-youtube {
            background-color: map-get($estilos, fondo );
        }
        .icon-spotify {
            background-color: map-get($estilos, fondo );
            border-radius: map-get($estilos, borde );
        }
    }
}
@import 'discografia';
@import 'galeria';
@import 'historia';
@import 'contacto';
@import 'index';

@media screen and (min-width:200px) and (max-width:560px){
    /*DISCOGRAFIA*/
    .disc-new {
        background-color: aliceblue;
        border: 3px;
        border-color: blue;
        
    }
    /*HISTORIA*/
    .frase__historia{
        color: #742112;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 35px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin-bottom: 30px;        
    }
    .members__class {
        width: 800px;
        background-color: #000;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        & img {
            border-radius: 5%;
            width: 40%;
            height: auto;
            padding: 10px;
        }
    }
    .member__info {
        margin: auto 0;
        width: 40%;
        text-align: justify;
        & h3 {
            font-size: 30px;
            color:azure
        }
        & p {
            font-size: 25px;
            color:azure;
        }
    
    }
    .members__class2 {
        background-color: black;
        width: 800px;
        height: 60vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        & img {
            border-radius: 5%;
            width: 40%;
            height: auto;
            padding: 10px;
        }
    }
    /*GALERIA*/
    .gallery__container {
        display: grid;
        grid-template-columns: repeat(2, 150px);
        grid-auto-rows: 150px;
        grid-gap: 10px;
        grid-auto-flow: dense;
        min-height: 100vh;
        margin: 20px;
        margin-bottom: 100px;
        & :nth-child(1), .gallery__container :nth-child(3) {
            grid-row: span 1;
        }
        & :nth-child(2) {
            grid-column: span 2;
        }
        & :nth-child(8) {
            grid-column: span 2;
            grid-row: span 1;
        }
    }
}